*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: #1d1d1d;
	font-family: "Roboto", sans-serif;
}

.container {
	width: 100dvw;
	height: 100dvh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 2rem;
	overflow: hidden;
}

h1 {
	color: white;
}

canvas {
	border: 1px solid rgb(255, 255, 255);
}

#keystrokes {
	color: white;
}
